/* La partie de style qu'on a extraite de bootstrap.min.css
   En fait la seule chose astucieuse c'est les groupes de boutons
 */

body {
  margin: 0;
  font-family: "Segoe UI", Roboto, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.btn {
  cursor: pointer;
}

/* ex-boutons btn-outline-XXXX
   les noms ont ete changes pour exprimer la reelle fonction de ces classes : la couleur !
   les .active servent pour les boutons qui ont une focntion de toggle t.q. mute et solo
 */

.btn-brown {
  color: #940;
  border-color: #940;
}

.btn-brown.active {
  color: #fff;
  background-color: #940;
  border-color: #000;
}

.btn-seablue {
  color: #04D;
  border-color: #04D;
}

.btn-seablue.active {
  color: #fff;
  background-color: #049;
  border-color: #000;
}

.btn-nightblue {
  color: #008;
  border-color: #008;
}

.btn-green {
  color: #28a745;
  border-color: #28a745;
}

.btn-orange {
  color: #ffc107;
  border-color: #ffc107;
}

.btn-red {
  color: #dc3545;
  border-color: #dc3545;
}

.btn-black {
  color: #000;
  border-color: #000;
}

.btn-purple {
  color: #dc07ff;
  border-color: #dc07ff;
}

/* fin ex-boutons btn-outline-XXXX */


.btn-group {
  position: relative;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
}

.btn-group > .btn {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.btn-group > .btn:active, .btn-group > .btn.active {
  z-index: 1;
}

.btn-group > .btn:not(:first-child) {
  margin-left: -1px;
}

.btn-group > .btn:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-group > .btn:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}







/* La partie de style qui vient de fontawesome.com
   On a retire du service le hack pour injecter de l'unicode pour les boutons
   de transport et zoom, preferant mettre directement les code points dans le HTML.
   Ce hack reste en service pour les petits haut-parleurs aux extremites du potentiometre,
   dans ce cas les concepts "before" et "after" sont utilises a bon escient (voir partie suivante)  
 */
@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url("./webfonts/fa-solid-900.woff2") format("woff2"),
       url("./webfonts/fa-solid-900.woff") format("woff"); }

.fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900; }
/* les code points pour boutons transport et zoom
.fa-pause:before { content: "\f04c"; }
.fa-play:before { content: "\f04b"; }
.fa-stop:before { content: "\f04d"; }
.fa-fast-backward:before { content: "\f049"; }
.fa-search-minus:before { content: "\f010"; }
.fa-search-plus:before { content: "\f00e"; }
*/
/* les code points pour les petits haut-parleurs
.fa-volume-down:before { content: "\f027"; }
.fa-volume-up:before { content: "\f028"; }
(on les retrouve plus loin dans la classe label.volume)
*/

/* la partie de style propre a "playlist"
 */
a { color: #1d70b8; cursor: pointer; text-decoration: underline; }
a:link { color: #1d70b8; }
a:visited { color: #4c2c92; }
a:hover { color: #003078; }
a:active { color: #0b0c0c; }
a:focus { color: #0b0c0c; }

.post-content, .post-header { margin: 4px 2%; }
.breadcrumb { background-color: #f4f4f4; }

.btn-group-xs > .btn, .btn-xs { padding: .25rem .4rem; font-size: .875rem; line-height: .5; border-radius: .2rem; }

.playlist { margin: 8px 0; }
.playlist .playlist-time-scale { height: 30px; }

.playlist .channel { background: grey; }
.playlist .channel-progress { background: orange; }

.playlist .cursor { background: black; }

.playlist .wp-fade { background-color: rgba(0, 0, 0, 0.1); }

.playlist .state-cursor, .playlist .state-select { cursor: text; }
.playlist .state-fadein { cursor: w-resize; }
.playlist .state-fadeout { cursor: e-resize; }
.playlist .state-shift { cursor: ew-resize; }

.playlist .selection.point { background: red; }
.playlist .selection.segment { background: rgba(0, 0, 0, 0.1); }

.playlist .channel-wrapper.silent .channel { opacity: 0.3; }

.playlist .controls { background: white; text-align: center; border: 1px solid black; border-radius: 0.2rem; box-sizing: border-box; }
.playlist .controls .track-header { overflow: hidden; color: black; height: 26px; display: flex; align-items: center; justify-content: space-between; padding: 0 0.6rem; font-size: 0.85rem; }

/* button { width: 20px; } etait pour les boutons removeTrack et collapseTrack, JLN a enleve pour mettre Mute/Solo */
.playlist .controls .track-header button { /*width: 20px;*/ height: 20px; display: flex; align-items: center; justify-content: center; }
.playlist .controls label { box-sizing: border-box; width: 100%; display: flex;
 justify-content: space-between;
 font-family: 'Font Awesome 5 Free'; font-weight: normal; 
 line-height: 1.2;
 text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; transform: translate(0, 0); padding: 0 1rem; margin-bottom: 0.2rem; }
.playlist .controls label:before { color: black; font-size: 18px; padding-right: 5px; -moz-osx-font-smoothing: grayscale; }
.playlist .controls label:after { color: black; font-size: 18px; padding-left: 5px; }
.playlist .controls label.volume:before { content: "\f027"; }
.playlist .controls label.volume:after { content: "\f028"; }
.playlist .controls label.stereopan:before { content: "L"; }
.playlist .controls label.stereopan:after { content: "R"; }

.playlist .controls input[type="range"] { -webkit-appearance: none; -moz-appearance: none; appearance: none; display: inline-block; width: 75%; }
.playlist .controls input[type="range"]::-webkit-slider-runnable-track { height: 5px; background: #ddd; border: none; border-radius: 3px; }
.playlist .controls input[type="range"]::-moz-range-track { height: 5px; background: #ddd; border: none; border-radius: 3px; }
.playlist .controls input[type="range"]::-webkit-slider-thumb { -webkit-appearance: none; -moz-appearance: none; appearance: none; border: none; height: 12px; width: 12px; border-radius: 50%; background: goldenrod; margin-top: -5px; cursor: ew-resize; }
.playlist .controls input[type="range"]::-moz-range-thumb { -webkit-appearance: none; -moz-appearance: none; appearance: none; border: none; height: 12px; width: 12px; border-radius: 50%; background: goldenrod; margin-top: -5px; cursor: ew-resize; }
.playlist .controls input[type="range"]:focus { outline: none; }
.playlist .controls input[type="range"]:focus::-webkit-slider-runnable-track { background: #bbb; }
.playlist .controls input[type="range"]:focus::-moz-range-track { background: #bbb; }
.playlist .controls input[type="range"]:focus::-webkit-slider-thumb { border: 2px solid black; }
.playlist .controls input[type="range"]:focus::-moz-range-thumb { border: 2px solid black; }

.playlist .annotations .annotations-boxes { text-align: center; }
.playlist .annotations .annotation-box { border: 2px dashed grey; padding: 0 10px; }
.playlist .annotations .annotation-box .resize-handle { background: grey; opacity: 0.3; cursor: ew-resize; }
.playlist .annotations .annotation-box .id { cursor: pointer; display: inline-block; width: 100%; height: 100%; }
.playlist .annotations .annotations-text { font-size: 19px; font-weight: 300; margin-top: 1em; height: 160px; overflow-x: hidden; overflow-y: auto; }
.playlist .annotations .annotations-text .annotation { display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-start; align-items: stretch; }
.playlist .annotations .annotations-text .annotation span { margin: 0.3rem 0.6rem; }
.playlist .annotations .annotations-text .annotation span:last-of-type { margin-right: 1.2rem; }
.playlist .annotations .annotations-text .annotation .annotation-id { font-size: 16px; line-height: 27px; }
.playlist .annotations .annotations-text .annotation .annotation-start { font-size: 16px; line-height: 27px; }
.playlist .annotations .annotations-text .annotation .annotation-end { font-size: 16px; line-height: 27px; }
.playlist .annotations .annotations-text .annotation .annotation-lines { flex-grow: 10; }
.playlist .annotations .annotations-text .annotation .annotation-actions { flex-basis: auto; width: 85px; text-align: right; font-size: 16px; }
.playlist .annotations .annotations-text .annotation .annotation-actions i { margin-right: 0.6rem; }
.playlist .annotations .annotations-text .annotation .annotation-actions i:last-of-type { margin-right: 0; }
.playlist .annotations .annotations-text .annotation .annotation-actions i:hover { color: orange; cursor: pointer; }
.playlist .annotations .current { background-color: #ebf4f6; }

.playlist .vocals { background-color: #c0dce0; }
.playlist .vocals header { background-color: green; }

.track-drop { border: 2px dashed blue; height: 100px; width: 200px; margin: 1em 0; }
.track-drop::before { content: "Drop audio file(s) here!"; }
.track-drop.drag-enter { border: 2px solid orange; }

footer { margin-top: 2em; }

/* La partie JLN custom, pour la zone progress du chargement des mp3
 */
table.progress { border: 0; background-color:#DDF; border-spacing: 5px; font-family: Courier, Monospace; }
table.progress td { background-color:#FFF; padding: 1px 6px 1px 6px; }
table.progress span { background-color:#0F0; }
